body {
    background: black;
    color: white;
}

#first-row {
    padding: 10px;
    margin: 5px;
}
#circus-banner {
    height: 300px;
    width: 900px;
    
}
#second-row {
    padding: 10px;
    margin: 5px;
}
.col {
    border: 2px dotted #fff;
    height: auto;
}